body {background-color:#e6e6e6;
          margin: 0;
		  padding: 0;
		  border: 0;
          font-family:arial;}

#cv {width:800px;
         margin:auto;
		 background-color:#fff;
		 padding:20px;
		 margin-top:20px;
         margin-bottom:20px;
		 box-shadow: 2px 2px 5px #b4b4b4;
		 border-top:7px solid #29a9df;
		 border-bottom:7px solid #29a9df;
		 }

		 
#ficha {position:relative;
            margin-bottom:50px;
			padding:0px 20px;
			}
			
h1 {display:inline-block;
      position: absolute;
      display: inline-block;
      left: 250px;
	  font-size:25px;
	  color:#29a9df;}	
	
#datos {position: absolute;
			  display: inline-block;
			  top: 80px;
			  list-style:none;
			  font-weight:bold;
			  color:#9a9a9a;
			  }	
#datos li {margin-bottom:10px;}			  

#datos li a {color:#737373;}
	
aside {position: absolute;
           top: 50px;
           left: 600px;
		   background-color:#29a9df;
		   color:#fff;
		   padding:10px 15px;
		   box-sizing:border-box;
		   box-shadow: 2px 2px 5px #b4b4b4;
		   }	

aside p {text-align:right;
             text-decoration:underline;
			 font-weight:bold;
			 }		   
		   
aside li {list-style:none;
              text-align:right;
			  }		   
		   
#perfil {margin-top:25px;}

#parrafos {padding:10px 20px;}

#parrafos p {line-height:25px;
                      color:#4b4b4b
					  }

#apartados{display:flex;
                     margin-top:50px;
                     margin-bottom:50px;
                    }

#video {width:250px;
              height:200px;
			  margin:7px;
			  border:2px solid black;
			  box-sizing:border-box;
			  background-color:black;
			  padding-top:20px;
			  }

#video iframe {border:0;}			  

#iconos {width:250px;
                height:200px;
				margin:7px;
				background:#e6e6e6;
				box-shadow: 2px 2px 5px #b4b4b4;
				box-sizing:border-box;
				padding:6px;
           		}

#iconos img {display:inline-block;
                      margin:8px;}				

#adjuntos {width:250px;
                   height:200px;
				   margin:7px;
				   background:#e6e6e6;
				   box-shadow: 2px 2px 5px #b4b4b4;
				   box-sizing:border-box;
				   padding:5px;
				  }

#adjuntos p {margin-left:10px;
                      font-weight:bold;
					  color:#2f2f2f;
					  }				  
				  
#adjuntos li{list-style-image:url(../img/pdf_icon2.png);
                     margin-bottom:10px;
					 }

#adjuntos li a {color:#4b4b4b;}




